.footer {
	margin-top: 80px;

	& > p {
		text-align: center;
		padding-block: 20px;
	}

	&__container {
		padding-bottom: 80px;
		border-bottom: 1px solid var(--background-color-2);

		@include mobile {
			padding-inline: 49px;
		}

		@media (max-width: 560px) {
			padding-inline: 29px;
		}
	}

	&__socials {
		display: flex;
		justify-content: space-between;
		gap: 96px;
		row-gap: 24px;

		@media (max-width: 1130px) {
			display: grid;
			justify-content: center;
			grid-template-areas:
				'social-wrapper subscribe-wrapper'
				'contacts-us quick-links';
		}

		@include mobile {
			gap: 35px;
		}

		&-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			@media (max-width: 1130px) {
				row-gap: 20px;
				grid-area: social-wrapper;
			}
		}

		&-text {
			max-width: 282px;
		}

		.socials-list {
			display: flex;
			flex-direction: row;

			@media (max-width: 1130px) {
				justify-content: flex-start;
			}
		}
	}

	.contacts-us {
		@media (max-width: 1130px) {
			grid-area: contacts-us;
		}
	}

	.quick-links {
		@media (max-width: 1130px) {
			grid-area: quick-links;
			align-items: center;
		}
	}

	.subscribe-wrapper {
		@media (max-width: 1130px) {
			grid-area: subscribe-wrapper;
			align-items: center;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 16px;

		@media (max-width: 560px) {
			justify-content: center;
		}

		@media (hover: hover) {
			&-link:hover + path,
			[id*='Bg']:hover,
			[id*='Soc']:hover {
				fill: var(--accent-color);
			}

			[id*='Bg']:hover ~ path {
				stroke: var(--background-color);
			}
		}

		@media (hover: none) {
			&-link:hover + path,
			[id*='Bg']:hover,
			[id*='Soc']:hover {
				fill: var(--accent-color);
			}

			[id*='Bg']:hover ~ path {
				stroke: var(--background-color);
			}
		}

		&-item-text {
			@include fluid-text(16, 24);
			font-weight: 600;
			line-height: var(--line-height-title);
		}

		&-item {
			&--grid-template {
				display: grid;
				grid-template-columns: 24px auto;
			}
		}

		&-link {
			font-family: 'Plus Jakarta Sans', sans-serif;
			max-width: 250px;
		}

		@media (hover: hover) {
			&-link:hover {
				color: var(--accent-color);
			}
		}

		@media (hover: none) {
			&-link:active {
				color: var(--accent-color);
			}
		}
	}

	&__form {
		display: flex;

		@media (max-width: 540px) {
			flex-direction: column;
		}

		&-input {
			color: var(--white-color);
			background-color: var(--background-color-2);
			padding: 16px;

			&::placeholder {
				color: var(--white-color);
			}
		}

		&-button {
			padding: 16px 24px;
			background-color: var(--accent-color);
		}
	}
}
