.main {
	margin-top: 80px;

	@include mobile {
		margin-top: 40px;
	}

	&__service {
		&-header {
			@include flex-center;
			flex-direction: column;
		}

		&-list {
			@include flex-center;
			justify-content: space-between;
			margin-block: 80px;

			@include tablet {
				margin-block: 40px;
			}

			@include mobile {
				margin-block: 20px;
			}

			@media (max-width: 570px) {
				flex-direction: column;
			}
		}

		&-item {
			@include flex-center;
			flex-direction: column;
		}

		&-image {
			@include mobile {
				max-width: 76px;
			}
		}

		&-text {
			@include fluid-text(16, 32);
			color: var(--accent-color);
			line-height: var(--line-height-card-text);
		}
	}

	&__destinations {
		margin-top: 160px;
		@include tablet {
			margin-top: 80px;
		}

		@include mobile {
			margin-top: 40px;
		}

		&-header {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

		&-subtitle {
			max-width: 580px;
			padding-bottom: 32px;
		}

		&-text {
			max-width: 460px;
			padding-bottom: 80px;

			@media (max-width: 480px) {
				max-width: 400px;
			}

			@media (max-width: 420px) {
				padding-bottom: 40px;
			}

			@media (max-width: 400px) {
				max-width: 300px;
			}
		}

		&-images {
			display: grid;
			justify-content: center;
			gap: 30px;
			grid-template-columns: 602px 602px;

			@include desktop {
				grid-template-columns: 400px 400px;
			}

			@include tablet {
				grid-template-columns: 300px 300px;
			}

			@include mobile {
				grid-template-columns: 200px 200px;
			}

			@media (max-width: 480px) {
				gap: 15px;
			}

			@media (max-width: 445px) {
				grid-template-columns: 150px 150px;
			}

			@media (max-width: 420px) {
				grid-template-columns: 100px 100px;
			}
		}

		&-image {
			width: 100%;
		}
	}

	&__about-us {
		margin-top: 80px;
		padding-bottom: 80px;
		background-color: var(--background-color-2);

		@media (max-width: 980px) {
			padding-bottom: 40px;
		}

		@media (max-width: 420px) {
			margin-top: 40px;
		}

		&-info {
			display: flex;

			@media (max-width: 980px) {
				flex-direction: column;
				align-items: center;
			}
		}

		&-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-block: 80px;

			@include desktop {
				padding-block: 40px;
			}

			@media (max-width: 900px) {
				text-align: center;
				flex-direction: column;
				row-gap: 32px;
			}

			@include mobile {
				padding-inline: 49px;
			}
		}

		&-text {
			@media (max-width: 900px) {
				max-width: 500px;
			}
		}

		&-text-wrapper {
			display: flex;
			flex-direction: column;
			row-gap: 24px;
			max-width: 523px;
		}

		&-card {
			display: flex;
			column-gap: 39px;

			@media (max-width: 450px) {
				column-gap: 15px;
			}

			&-container {
				padding-right: 40px;

				@media (max-width: 980px) {
					padding-right: var(--container-padding-x);
				}

				@include mobile {
					padding-inline: 49px;
				}

				@media (max-width: 400px) {
					padding-inline: 29px;
				}
			}

			&-wrapper {
				display: flex;
				flex-direction: column;
				row-gap: 40px;

				@media (max-width: 450px) {
					row-gap: 20px;
				}
			}

			&-text-wrapper {
				@media (max-width: 450px) {
					row-gap: 15px;
				}
			}

			&-text {
				max-width: 523px;
			}
		}

		&-image {
			max-width: 700px;

			@media (max-width: 1150px) {
				max-width: 500px;
			}

			@media (max-width: 980px) {
				max-width: 600px;
				max-height: 400px;
				padding-top: 40px;
			}

			@media (max-width: 630px) {
				max-width: 400px;
			}

			@media (max-width: 440px) {
				max-width: 250px;
			}
		}
	}

	&__package {
		padding: 80px 0px 56px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (max-width: 420px) {
			padding-block: 40px;
		}

		&-header {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding-bottom: 66px;
		}

		&-subtitle {
			max-width: 679px;
		}
	}

	&__travel {
		background-image: url('../images/main/travel/background-image.jpeg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		@include flex-center;
		text-align: center;
		flex-direction: column;
		padding-block: 76px;

		&-header {
			display: flex;
			flex-direction: column;
			row-gap: 32px;
		}

		&-title {
			max-width: 763px;
		}

		&-text {
			line-height: var(--line-height-text);

			@media (max-width: 480px) {
				max-width: 400px;
			}

			@media (max-width: 400px) {
				max-width: 300px;
			}
		}

		&-button {
			max-width: 151px;
			display: flex;
			align-items: center;
			line-height: var(--line-height-text);
			gap: 16px;
			padding: 12px 24px;
			background: var(--accent-color);
			margin-top: 80px;
		}
	}
}
